{{> nav}}
<h2>Dashboard</h2>
<nav class="subnav">
    <a href="/profile">My Profile</a>
    <a href="/edit">Edit Account</a>
</nav>
<p>Here is where your saved articles will be saved.</p>
<h3>Saved Articles</h3>
<h3>Your Comments</h3>