{{> nav}}
<h2>Register</h2>
<p>After creating an account, you will be able to save articles, leave comments for other users, and favorite articles, contributing
    to a community of wannabe hackers.</p>
<form id="registration-form">
    <div class="form-group">
        <label>Username: </label>
        <input type="text" name="username" required/>
    </div>
    <div class="form-group">
        <label>E-mail: </label>
        <input type="text" name="email" required/>
    </div>
    <div class="form-group">
        <label>Password: </label>
        <input type="password" name="password" required/>
    </div>
    <button type="submit">Register</button>
</form>